@import 'susy';
@import 'compass/css3/box-sizing';

// apply css reset (Eric Meyer 2.0)
@import 'compass/reset';

@import 'typography';
@import 'grid';
@import 'template';
@import 'contacts';



* { 
   @include box-sizing(border-box); 
}

html {
    // font-family: 'Montserrat';
    font-family: 'Quicksand';
}

body {
    //background: url('images/handmadepaper.png');
    background-color: #f2f2f2;
}

a {
    // @include hover-link;
    // @include unstyled-link;
    text-decoration: none;
    @include link-colors($color-link, $color-link--hover);
    display: block;

    &.active {
        font-weight: bold;
    }
}

button {
    padding: 0.3em 0.6em;
    // margin: 0 0.6em;
    background-color: $color-button__bg--default;
    color: $color-button--default;
    border: 1px solid $color-button__border--default;
    border-radius: 4px;
    @include adjust-font-size-to($font-size--default);
    text-decoration: none;
    cursor: pointer;
}




