//------------------------------------------------------------------------------
//
//  Base styles
//
//------------------------------------------------------------------------------



%header--centered {
    font-weight: bold;
    text-align: center;
}





//------------------------------------------------------------------------------
//
//  Colors
//
//------------------------------------------------------------------------------



$color-border--default: #cccccc;
$color-primary: #000000;
$color-link: #000000;
$color-link--hover: #404040;
$color-button--default: rgba(0, 0, 0, 0.8);
$color-button__border--default: #cccccc;
$color-button__bg--default: #e5e5e5;
$color-button__bg--default-hover: #d8d8d8;
$color-button__bg--warning: #ff3232;