//------------------------------------------------------------------------------
//
//  Base styles
//
//------------------------------------------------------------------------------



$border-color--default: #404040;
$color-primary: #000000;

%header--centered {
    font-weight: bold;
    text-align: center;
}