//------------------------------------------------------------------------------
//
//  Base styles
//
//------------------------------------------------------------------------------



$border-color--default: #cccccc;
$color-primary: #000000;
$color-link: #000000;
$color-link--hover: #404040;

%header--centered {
    font-weight: bold;
    text-align: center;
}