@import 'typography';
@import "compass/typography/links";

//------------------------------------------------------------------------------
//
//  Contacts
//
//------------------------------------------------------------------------------



.contact-details {

 
    @include span(isolate 10 at 2);
    // @include prefix(1);
    // @include suffix(1);
    padding-top: rhythm(1);

    position: relative;
    // background-color: #ffffff;
}

.contact-details__display-name {

    @include span(9 of 10);
    // margin-left: -0.5em;
    @include adjust-font-size-to($font-size--l);
    // font-family: 'Montserrat';
    font-weight: bold;
}

.close-details-button {

    position: absolute;
    top: 1em;
    // right: -1em;
    right: 0;

    width: 2em;
    height: 2em;

    cursor: pointer;

    a {
        @include unstyled-link;
        display: block;
        height: 100%;
    }
}

.edit-details-button,
.save-details-button,
.delete-contact-button {
    @include leader(1);
}

.delete-contact-button {
    float: right;
    // background-color: $color-button__bg--warning;
}



//------------------------------------------------------------------------------
//
//  Edit mode
//
//------------------------------------------------------------------------------



.contact-details {

    label {
        display: block;
    }
}





//------------------------------------------------------------------------------
//
//  Breakpoints
//
//------------------------------------------------------------------------------



@include susy-breakpoint($breakpoint-s) {



    .contact-details {

        label {
            @include span(3 of 10);
        }
    }
}



@include susy-breakpoint($breakpoint-m) {



    .contact-details {

        position: relative;
        @include span(isolate 6 at 2);

        label {
            @include span(2 of 6);
        }        
    }

    .close-details-button {
        display: none;
    }
}
