//------------------------------------------------------------------------------
//
//  Grid
//
//------------------------------------------------------------------------------



$susy: (
    columns: 12,
    gutters: 0.25,
    debug: (
        // image: show,
        // image: show-baseline,
        // image: show-columns,
    )
);



$breakpoint-s: 30rem;
$breakpoint-m: 40rem;
