@import 'base';
@import 'typography';
@import "compass/typography/links";

//------------------------------------------------------------------------------
//
//  Template
//
//------------------------------------------------------------------------------



.main-header {
 
    @include adjust-font-size-to($font-size-xl);
    // @extend %header--centered;
    border-bottom: 1px solid $border-color--default;
    padding: rhythm(0.5) 0;
    font-family: 'FFF_Tusj';
    // font-family: 'GrandHotel';
    text-align: center;
}

.main-content {
    @include container;
}

// navigation

.main-navigation {
    @include span(12);

    // hide on small screens when contact details are shown
    &.contact-details-shown {
        display: none;
    }
}

.main-navigation__header {
    @include adjust-font-size-to($font-size-l);
    @extend %header--centered;
}

.contact-list {
    text-align: center;
}

.contact-list-item {

    @include adjust-leading-to(2);

    border-bottom: 1px solid $border-color--default;
    border-right: 1px solid $border-color--default;
    // &:last-of-type {
    //     border-bottom: 1px solid $border-color--default;
    // }
    cursor: pointer;
    a {
        outline: 0;
    }
}





//------------------------------------------------------------------------------
//
//  Breakpoints
//
//------------------------------------------------------------------------------



@include susy-breakpoint($breakpoint-s) {



    .main-header {
     
        @include adjust-font-size-to($font-size-xxl);
    }
}



@include susy-breakpoint($breakpoint-m) {




    .main-navigation {

        @include span(4);

        // always show navigation on bigger screens
        &.contact-details-shown {
            display: block;
        }        
    }
}
