@import 'base';
@import 'typography';
@import "compass/typography/links";

//------------------------------------------------------------------------------
//
//  Template
//
//------------------------------------------------------------------------------



.main-header {
 
    @include adjust-font-size-to($font-size-xxl);
    // @extend %header--centered;
    border-bottom: 1px solid $border-color--default;
    padding: rhythm(0.5) 0;
    font-family: 'FFF_Tusj';
    // font-family: 'GrandHotel';
    text-align: center;
}

.main-content {
    @include container;
    position: relative;
}

// navigation

.main-navigation {
    @include span(12);
}

.main-navigation__header {
    @include adjust-font-size-to($font-size-l);
    @extend %header--centered;
}

.contact-list {
    text-align: center;
}

.contact-list-item {

    @include adjust-leading-to(2);

    border-bottom: 1px solid $border-color--default;
    // &:last-of-type {
    //     border-bottom: 1px solid $border-color--default;
    // }
}





//------------------------------------------------------------------------------
//
//  Breakpoints
//
//------------------------------------------------------------------------------



@include susy-breakpoint($breakpoint-m) {



    .main-navigation {
        @include span(4);
    }
}
