<header class='main-header'>Addressbook</header>

<section class='main-content'>

    {{!-- navigation - select contact --}}
    
    <nav {{bind-attr class='contactDetailsShown :main-navigation'}}>

{{!--         <header class='main-navigation__header'>
            Contacts
        </header> --}}

        <ul class='contact-list'>

            {{!-- create new contact --}}
            <li class='contact-list-item' {{action 'createNewContact'}}>
                - new contact -
            </li>    

            {{!-- contacts --}}
            {{#each contact in model}}
            <li class='contact-list-item'>
                {{!-- we must set current-when explicitely to keep 'active' class 
                      when no query param is set 
                      http://stackoverflow.com/questions/26722029/ember-link-to-ignore-query-params-to-bind-class-active --}}
                {{#link-to 'contacts.view' contact (query-params edit='false') current-when="contacts.view"}}
                    {{contact.displayName}}
                {{/link-to}}
            </li>
            {{/each}}

        </ul>    
    </nav>

    {{outlet}}
    
</section>
