<header class="main-header">Addressbook</header>

<section class="main-content">

    {{!-- navigation - select contact --}}
    
    <nav class="main-navigation">

        <header class="main-navigation__header">
            Contacts
        </header>

        <ul class="contact-list">

            {{!-- create new contact --}}
            <li class="contact-list-item">
                - new contact -
            </li>    

            {{!-- contacts --}}
            {{#each contact in model}}
            <li class="contact-list-item">
                {{#link-to 'contacts.view' contact}}
                    {{contact.displayName}}
                {{/link-to}}
            </li>
            {{/each}}

        </ul>    
    </nav>

    {{outlet}}
    
</section>
