<header class="main-header">Addressbook</header>

<nav>
    <header>
        Contacts
    </header>

    <ul class="contact-list">
    
        {{#each contact in model}}
        <li class="contact-list-item">
            {{#link-to 'contacts.view' contact}}
                {{contact.firstName}}
            {{/link-to}}
        </li>
        {{/each}}

    </ul>    
</nav>

{{outlet}}
